<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout-1</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/6ad59a24bb.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Mr.Prakash</h1>
            </div>
            <div class="menu">
                <ul>
                    <li>products</li>
                    <li>developers</li>
                    <li>company</li>
                    <li>pricing</li>
                    <li>support</li>
                    <li>sign in &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></li>
                </ul>
            </div>
        </nav>
        <main>
        <div class="new-main"><a href="" class="a-box">new</a>Lorem iosum doller hiea !</div>
        <br><br><br><br>
        <h1>Lorem upsum gosser foowrg lorem </h1><br>
        <p>lorem upsum gosser foowrg lorem lorem upsum gosser foowrg <br> lorem lorem upsum gosser foowrg lorem lorem upsum <br> gosser foowrg lorem lorem upsum gosser foowrg lorem </p><br><br><br><br><br><br>
        <a href="" class="btn1">create id</a>
        <a href="" class="btn">contact us</a>
        </main>
        <div class="box-one">
            <div class="b1"></div>
            <div class="has1">
                <div class="has">
                    <div>
                        <div class="red"></div>
                    <div class="yellow"></div>
                    <div class="green"></div>
                    <div class="blue"></div>
                    
                    </div>
                    
                </div>
               <h1 style="color: rgb(98, 98, 216);"><i class="fas fa-user-alt"></i>Prakash</h1>
            </div>
        </div>
        
    </header>
</body>
</html>